<% provide(:title, 'Sobre') %>
<h1>Sobre</h1>
<p>
  Ferramenta para gestão das fichas de cautela de EPI's, ferramentas e equipamentos.
  <a href="http://Intranet">CIPA Campinas - Gestão 2013/2014</a>.
</p>