<% provide(:title, 'Ajuda') %>
<h1>Ajuda</h1>
<p>
  Cadastre o colaborador e em seguida os materiais que foram entregues em sua cautela/responsabilidade.
</p>
<p>
  Digitalize o documento assinado e anexe (upload) o arquivo para validação no sistema.
</p>