<% provide(:title, 'Página Inicial') %>

<div class="center hero-unit">
  <h1>C-EPI Application</h1>

  <h2>
    Página inicial da aplicação
    <a href="http://railstutorial.org/">Controle de EPI's e Cautelas</a>.
  </h2>

  <%= link_to "Acesse agora!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag('gvt_logo.gif', alt: 'GVT'), 'http://intranet/' %>