<% provide(:title, 'Contact') %>
<h1>Roadmap</h1>
<p>
  Cadastro de kits básicos de EPIs para os cargos;
</p>
<p>
  Sinalizar EPIs não entregues ao colaborador;
</p>
<p>
  Sinalizar itens EPIs com validade próxima ou excedida, para substituição;
</p>
<p>
  Sumarizar itens das diversas cautelas do colaborador em lista única;
</p>