<footer class="footer">
  <small>
    <a href="http://cpsmr1-5042:3000/">C-EPI</a>
    by CIPA Campinas SP - Gestão 2013/2014
  </small>
  <nav>
    <ul>
      <li><%= link_to 'Sobre',   about_path %></li>
      <li><%= link_to 'Contato', contact_path %></li>
      <li><a href="http://intranet/">Intranet</a></li>
    </ul>
  </nav>
</footer>