<footer class="footer">
  <small>
    <%= link_to 'C-EPI Application', root_path %>
    by CIPA Campinas
  </small>

  <% unless !signed_in? %>
      <nav>
        <ul>
          <li><%= link_to 'CIPA Campinas', root_path %></li>
          <li><%= link_to 'Sobre', about_path %></li>
          <li><%= link_to 'Rodadmap', about_path %></li>
        </ul>
      </nav>
  <% end %>
</footer>