<footer class="footer">
  <small>
    <%= link_to 'C-EPI Application', root_path %>
    by CIPA Campinas
  </small>

  <nav>
    <ul>
      <li><%= link_to 'Sobre', about_path %></li>
      <li><%= link_to 'Contato', contact_path %></li>
      <% unless !signed_in? %>
          <li><%= link_to 'Roadmap', roadmap_path %></li>
      <% end %>
    </ul>
  </nav>
</footer>